/* exo sup 3 */
table{
    border-spacing:30px;
}
td{
    border:2px black solid;
    padding:10px;
}
tr:nth-child(2n+ 1){
    background-color:orangered;
}
tr:last-child{
    color: white;
}
td:first-child:first-letter{
    font-size: 40px;
}
/* exo sup 2 */
*{
    font-family:Helvetica, sans-serif
}
h1{
    text-align: center;
    color:red;
}
h2{
    text-decoration: underline;
}
article h2{
    color:blue;
}
section h2{
    color:green;
}
h2+p{
    color:red;
    font-style:italic;
}
h1 ~ p{
    color:violet;
}
/* exo sup 1 */
h1{
    border:red 2px solid;
}
section:nth-child(3)>ul>li:nth-child(2):hover , section:nth-child(3)>ul>li:nth-child(3):hover{
    color:red;
    text-decoration: underline;
}
span+p{
    background-color: green;
}
section ul:first-of-type>li{
    border-left:3px black solid;
}
section:nth-child(2n){
    background-color: yellow;
}
section:hover:nth-child(6) h2{
    font-size:40px;
}
section:nth-child(7) input:focus{
    background-color: black;
    color:white;
}
a[href*="./p"]{
    border-top:3px solid red;
}
section:nth-child(3n+3) h2{
    background-color: black;
    color:white;
}