/* exo sup 3 */
table{
    border-spacing:30px;
}
table:first-child tr td{
    border:2px black solid;
    padding:10px;
}
table tr:nth-child(2n+ 1) td{
    background-color:orangered;
}
table tr:last-child td:last-child{
    color: white;
}